<h1>Editing Rating #<%= @rating.id %></h1>

<form action="/ratings/<%= @rating.id %>/update">
  <div>
    <label for="username">Username</label><br />
    <input id="username" name="username" value="<%= @rating.username  %>" type="text" />
  </div>
  <div>
    <label for="joke_id">Joke ID</label><br />
    <input id="joke_id" name="joke_id" value="<%= @rating.joke_id  %>" type="text" />
  </div>
  <div>
    <label for="rating">Rating</label><br />
    <input id="rating" name="rating" value="<%= @rating.rating  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


