<!DOCTYPE html>
<html>
<head>
  <style>
    *  {
      text-align: center;
      color: cyan;
    }
    </style>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/users">Users</a></li>
        <li><a href="/ratings">Ratings</a></li>
        <li><a href="/jokes">Jokes</a></li>
        </ul>
      </div>
   </div>
  </nav>
  <title>Jokesapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div>
     <% if session['username'] %>
     <h4> You're Signed in, <%= session['username'] %></h4>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-send"><a href="/sessions/destroy">Sign out!</a></button>
     <% else %>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-lock"><a href="/sessions/new">Sign in!</a></button>
     <% end %>
  </div>
  <div>

<%= yield %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<html>
<body background="http://vanauker.com/wp-content/uploads/2012/11/14238701-dark-web-background-texture.jpg">
</html>
</body>
</html>
