<h1>Comment #<%= @comment.id %></h1>

<div>
  <strong>Student</strong>:<br />
  <p><%= @comment.student_id %></p>
</div>
<div>
  <strong>Note</strong>:<br />
  <p><%= @comment.note %></p>
</div>
<div>
  <strong>Date</strong>:<br />
  <p><%= @comment.date %></p>
</div>
<a href="/comments">Return to Reports Index</a> |
<a href="/comments/<%= @comment.id %>/edit">Edit Report</a> |
<a href="/comments/<%= @comment.id %>/destroy">Delete Report</a>
